<h3>SOBRE O POKEINFO</h3>
<br><br>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;O PokeInfo é uma plataforma que funciona como um catálogo de pokemons,desenvolvida para meu treinamento com Angular
    e TypeScript, meu objetivo com ela é colocar o maximo de funcionalidades diferentes para que eu possa praticar.
    Escolhi essa API de pokemon para meu primeiro projeto por ser uma API um pouco complicada e com isso exigindo mais
    de mim.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;No catálago você consegue ver atraves de cards todos os pokemons, podendo fazer uma buscar por nome ou filtrar por
    geração. passando o mouse por cima de cada card é possivel ver informações adicionais e se clicar no card é aberto
    um overlay aonde mostra o restante das informações, também é possivel salvar o pokemon como favorito clicando na
    estrela, lembrando que os seus favoritos são salvos no localStorage do navegador.
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;Atualmente é possivel ver informações como tipo, peso, altura, id, evoluções, descrição( sómente em inglês e com
    alguns bugs). Só permiti o catálogo até a terceiro geração de pokemons porque o site de onde pego as imagens
    está com problema nas gerações seguintes.
</p>
<br>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;O PokeInfo utiliza a API <a href=" https://pokeapi.co/"> https://pokeapi.co/</a> para dados e o site <a
        href="https://pokeres.bastionbot.org">https://pokeres.bastionbot.org</a> para as imagens.
</p>
<br>
<h5>OBS1: PLATAFORMA AINDA EM DESENVOLVIMENTO</h5>
<h5>OBS2: A PLATAFORMA NÃO EXPRESSA TODO O MEU CONHECIMENTO EM ANGULAR</h5>