<div class="main">
    <div class="container">
        <h1 class="title">Sobre a Plataforma</h1>
        <div class="box-container">
            <p class="subtitle">Descrição</p>
            <p class="paragrafo">
                &nbsp;&nbsp;&nbsp;&nbsp;O Pokéinfo é uma plataforma que funciona como um catálogo de
                pokémons,desenvolvida
                para
                meu treinamento com Angular. Meu objetivo com ela é colocar o máximo de funcionalidades diferentes para
                que
                eu
                possa praticar.
                Escolhi essa API de pokémon para meu primeiro projeto por ser uma API um pouco complicada e com isso
                exigindo
                mais
                de mim.
            </p>
        </div>
        <div class="box-container">
            <p class="subtitle">Funcionalidades</p>
            <p class="paragrafo">
                &nbsp;&nbsp;&nbsp;&nbsp;No catálago você consegue ver através de cards todos os pokémons, podendo fazer
                uma
                busca por nome ou filtrar por
                geração. ao clicar no card é aberto uma janela onde mostra o restante das informações, também é
                possível
                salvar
                o pokémon como favorito, este que é salvo no localStorage do seu navegador, clicando no icone em formato de estrela. Atualmente é possível ver informações como: tipo, peso, altura, id, evoluções e descrição(o idioma varia por causa da API e contém bugs).
            </p>
        </div>
        <br>
        <div class="box-container">
            <p class="subtitle">Fontes</p>
            <a href=" https://pokeapi.co/" target="blank"> API de informações</a>
            <a href="https://pokeres.bastionbot.org" target="blank">fonte de imagens</a>
            <a href="https://fontawesome.com/" target="blank">fonte de icones</a>
        </div>
    </div>
    <div class="container">
        <h1 class="title">Sobre o Autor</h1>
        <div id="autor">
            <p>Nome: Fernando Pereira</p>
            <a href="https://github.com/Fernandoper92" target="blank">github.com/Fernandoper92</a>
            <a href="https://www.linkedin.com/in/fernandopereira92" target="blank">linkedin.com/in/fernandopereira92</a>
        </div>
    </div>
</div>