<div id="main">
    <nav class="topnav" id="main-menu">
        <div class="flex-box">
            <a id="title" routerLink="">Pokéinfo</a>
        </div>
        <div id="flex-container">
            <div class="flex-box router" routerLinkActive="active">
                <a routerLink="pokemons" (click)="myFunction()">Pokémons</a>
            </div>
            <div class="flex-box router" routerLinkActive="active">
                <a id="favoritos" routerLink="favoritos" (click)="myFunction()">Favoritos</a>
            </div>
            <div class="flex-box router" routerLinkActive="active">
                <a id="sobre" routerLink="sobre" (click)="myFunction()">Sobre</a>
            </div>
        </div>
        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <router-outlet></router-outlet>
</div>