#main {
    background-color: rgb(243, 243, 243);
    width: 65em;
    margin: auto;
    padding-top: 65.2px;

    #main-menu {
        display: flex;
        width: 65em;
        height: 65.2px;
        position: fixed;
        top: 0;
        box-shadow: 0 0 5px black;
        background-color: #ff4e4e;
        z-index: 1000;
    }
}

#flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex-box {
    height: 65.2px;
    padding: 5px;
    display: flex;
    text-align: center;

    #title {
        text-decoration: none;  
        color: white;
        font-size: 48px;
        font-weight: bolder;
        align-self: center;
    }

    a {
        text-decoration: none;
        font-size: 30px;
        padding: 0 10px;
        color: white;
        align-self: center;
    }

    &.router:hover {
        background-color: #ff6b6b;
    }
}

.active {
    background-color: #ff2020b3;
}