<div class="modal-container-main hideModal close-modal" id="show-modal" (click)="closeCardDetailComponent($event)">
    <div class="grid-box-main modal" id="modal" *ngIf="pokemon">
        <div class="top-bar">
            <span class="close fas fa-times close-modal" id="close-button" (click)="closeCardDetailComponent($event)"></span>
        </div>
        <div class="flex-container-item">
            <div class="container-title">
                <p class="title">Pokémon</p>
            </div>
            <div class="flex-box-item">
                <img class="container-img" src="https://pokeres.bastionbot.org/images/pokemon/{{ pokemon.id }}.png">
                <div class="flex-container">
                    <div class="container-name">
                        <p class="name">{{ pokemon.name | camelCase }}</p>
                    </div>
                    <div class="container-number">
                        <p class="number">{{ pokemon.id | number:'3.0' }}</p>
                    </div>
                    <div class="container-types">
                        <p class="word">Tipo:</p>
                        <div class="box-type" [style.backgroundColor]="colors[type.type.name]"
                            *ngFor="let type of pokemon.types">
                            <p>{{ type.type.name }}</p>
                        </div>
                    </div>
                    <div class="container-height">
                        <p class="height">Altura: {{ pokemon.height }} m</p>
                    </div>
                    <div class="container-weight">
                        <p class="weight">Peso: {{ pokemon.weight }} kg</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-container-evos">
            <div class="container-title">
                <p class="title">Evoluções</p>
            </div>
            <div class="flex-box-evos">
                <div class="flex-container-evo" *ngFor="let evolution of evolutionChain">
                    <div class="flex-box-evo">
                        <img class="container-img"
                            src="https://pokeres.bastionbot.org/images/pokemon/{{ evolution.id }}.png">
                        <div class="container-info">
                            <p class="name">{{ evolution.name | camelCase }}</p>
                        </div>
                    </div>
                    <span class="container-arrow fas fa-chevron-circle-right"></span>
                </div>
            </div>
        </div>
        <div class="flex-container-about">
            <div class="container-title">
                <p class="title">Descrição</p>
            </div>
            <div class="container-description">
                <p>{{ description }}</p><br>
                <p>A Descrição é da propria API e por isso ela varia de idioma além de outros erros.</p>
            </div>
        </div>
    </div>
</div>