.modal-container-main {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

.grid-box-main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  height: 450px;
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 7% 55% 33%;
}

.hideModal {
  display: none;
  animation: hide 0.15s;
  transform: scale(0);
}

@keyframes hide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.showModal {
  display: block;
  animation: show 0.2s;
  transform: scale(1);
}

@keyframes show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.container-title {
  font-size: 40px;
  padding: 0 5px;
  box-shadow: 0 0 2px black;
  border-radius: 5px 5px 0 0;
}

.top-bar {
  grid-column: 1 / span 2;
  grid-row: 1 / 1;
  color: black;
  display: flex;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0 2px black;
  background-color: #ff4e4e;
  border-radius: 5px 5px 0 0;

  .close {
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    opacity: 0.3;
  }

  .close:hover {
    opacity: 1;
  }
}

.flex-container-item {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .flex-box-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 0 2px black;
    border-radius: 0 0 5px 5px;

    .container-img {
      padding: 5px;
      width: 180px;
      height: 190px;
    }

    .flex-container {
      height: 100%;
      width: 100%;
      padding: 5px;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .container-name {
        font-size: 28px;
      }

      .container-number {
        font-size: 28px;
      }

      .container-types {
        border-radius: 5px;
        display: flex;

        .word {
          font-size: 20px;
          margin: 0 1px 0 0;
          display: flex;
          align-items: center;
        }

        .box-type {
          width: 60px;
          margin: 0 1px;
          padding: 2px;
          text-align: center;
          color: white;
          border-radius: 5px;
        }
      }

      .container-height {
        font-size: 16px;
      }

      .container-weight {
        font-size: 16px;
      }
    }
  }
}

//configura o painel de evolução

.flex-container-evos {
  width: 100%;
  height: 100%;
  padding: 5px;
  grid-column: 1 / span 2;
  grid-row: 3 / 3;
  display: flex;
  flex-direction: column;

  .flex-box-evos {
    height: 115px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    box-shadow: 0 0 2px black;
    border-radius: 0 0 5px 5px;

    .flex-container-evo {
      display: flex;
      flex-direction: row;

      .flex-box-evo {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        // justify-items: center;
        align-items: center;

        .container-img {
          width: 90px;
          height: 90px;
        }

        .container-info {
          display: flex;
          flex-direction: row; 
          justify-content: space-between;         
        }
      }

      .container-arrow {
        font-size: 60px;
        align-self: center;
        color: gray;
      }
    }
  }
}

//configura o painel com informações extras

.flex-container-about {
  width: 100%;
  height: 100%;
  padding: 5px;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  border-radius: 5px;

  .container-description {
    height: 191px;
    padding: 5px;
    box-shadow: 0 0 2px black;
    border-radius: 0 0 5px 5px;
  }
}

//apaga a ultima seta das evoluções
.flex-box-evos > div:last-child > span:last-child {
  display: none;
}
