<div class="main-container">
    <div class="filter">
        <input type="text" class="input text" name="input" [formControl]="busca" placeholder="Digite um nome">
        <select class="select text" name="geracoes" [formControl]="geracao" (change)="generationFilter(geracao.value)">
            <option value="" disabled selected>Selecione uma geração...</option>
            <option *ngFor="let geracao of geracoes" [value]="geracao.id">
                <p *ngIf="geracao.geracao">{{ geracao.geracao }}</p>
                <p *ngIf="geracao.regiao"> - {{ geracao.regiao }}</p>
            </option>
        </select>
    </div>
    <div class="grid-container">
        <div class="grid-item" *ngFor="let pokemon of pokemons">
            <p class="grid-item-name">{{ pokemon.name | camelCase }}</p>
            <img class="grid-item-img" src="https://pokeres.bastionbot.org/images/pokemon/{{ pokemon.id }}.png"
                (click)="openCardDetailComponent(pokemon)">
            <div class="grid-item-container">
                <p class="grid-item-number">{{ pokemon.id | number:'3.0' }}</p>
                <span #starFavorite id="poke-{{ pokemon.id }}" class="favorite fas fa-star not-favorite"
                    (click)="onFavoriteClick(pokemon.id, starFavorite)">
                </span>
            </div>
        </div>
    </div>
    <button class="load-more" type="button" (click)="getPokemonsByNumber(startLoadPokemon, qtdPokemonLoad)"
        [disabled]="startLoadPokemon === 386" [class.disabled]="startLoadPokemon === 386" *ngIf="!busca.value">Carregar
        Mais</button>
    <app-card-detail #pokemonDetail></app-card-detail>
    <div class="alert" *ngIf="!pokemons">Nenhum pokémon encontrado!</div>
</div>