/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url('./assets/bolasCinzas.jpg');
    background-size: 50%;
    background-attachment: fixed;
}