.flex-container-main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.flex-container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container-item {
    margin: 5px 10px;
    width: 700px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    &:hover {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }

    .container-img {
        padding: 10px;
        width: 100px;
        height: 100px;
    }

    .container-name-id {
        width: 100px;
    }

    .flex-container-types {
        width: 100px;

        .container-type {
            width: 70px;
            display: inline-block;
            margin: 1px;
            margin-bottom: 1px;
            color: white;
            background-color: gray;
            border-radius: 5px;
        }
    }

    .flex-container-info {
        width: 100px;
    }

    .close {
        height: 100px;
        margin: 5px 10px;
        cursor: pointer;
        font-size: 50px;
        opacity: 0.3;
        align-self: flex-start;

        &:hover {
            opacity: 1;
        }
    }
}
.alert {
    padding: 20px;
    font-size: 20px;
    color: #D8000C;
    background-color: #FFD2D2;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
